@{
    ViewBag.Title = "Home Page";
}
<div class="row" id="parent">
    <div class="font" id="block">
        <h2 class="font">Friend - что это ?</h2>
        <p>
            Friend - это соц.сеть где ты можешь общятся со своими друзьями и близкими.
            <br />
            Здесь ты можешь заводить новых друзей или вторую половинку.
            <br />
            Удобный интерфейс позволит тебе с первой же минуты получить удовольствие от сайта.
            <br />
            Цвета сайта приятные и сбалансированые так что бы вы долго смогли находится на нем.
            <br />
            С любовью разработчик(-и) сайта.
            <br />
        </p>
    </div>
</div>
