@{
    ViewBag.Title = "Messages";
}

<div class="row">
    <div class="font" style="margin-left:140px">
        <table>
            <tr>
                <td>
                    @Html.ActionLink("Мой профиль", "Profile", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Сообщения", "Message", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Друзья", "Friends", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </td>
            </tr>
        </table>
    </div>
    <div>
    </div>
    <div id="parent">
        @*Message*@
        <input id="block" type="search" name="q" placeholder="Написать сообщение">
        <input type="submit" value="Отправить" />
    </div>
</div>
