
@{
    ViewBag.Title = "FileUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Index2</h2>
@using (Html.BeginForm("FileUpload", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="uploadFile" />
    <input type="submit" />
}